<html>
    <head>
    <link href="{{STATIC_URL}}lightbox2-master/src/css/lightbox.css" rel="stylesheet">

        <title>Online Surveillance</title>
      <script type = "text/javascript">
          function displayPreviousImage(){
              x = (x === images.length - 1) ? 0 : x + 1;
              document.getElementById("img1").src = images[x];
              document.getElementById("a1").href = images[x];
              document.getElementById("img2").src = images[x-1];
              document.getElementById("a2").href = images[x-1];
              document.getElementById("img3").src = images[x-2];
              document.getElementById("a3").href = images[x-2];
              document.getElementById("img4").src = images[x-3];
              document.getElementById("a4").href = images[x-3];
          }

          function displayNextImage(){
              x = (x-3 <= 0) ? images.length - 1 : x - 1;
              document.getElementById("img1").src = images[x];
              document.getElementById("a1").href = images[x];
              document.getElementById("img2").src = images[x-1];
              document.getElementById("a2").href = images[x-1];
              document.getElementById("img3").src = images[x-2];
              document.getElementById("a3").href = images[x-2];
              document.getElementById("img4").src = images[x-3];
              document.getElementById("a4").href = images[x-3];
          }

          function startTimer() {
              displayNextImage()
           //   setInterval(displayNextImage, 3000);
          }

          var images = [], x = 0;
        {% for capture in captures%}
	   images[{{forloop.counter}}]="{{STATIC_URL}}{{ capture.filename }}";
        {% endfor %}

      </script>
    </head>

<body onload = "startTimer()">

    	<h1 align="center">Online Surveillance</h1>
<h3 align="right" style="color:red">{{showtext}}</h3>
<table align="center">
<tr align="center">
<td colspan="3">

    	<img src="http://127.0.0.1:8080/cam.mjpg" width=640 height=480 >
</td>
<td rowspan="2">
	
       <a id="a1" href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption"><img id="img1" src="{{STATIC_URL}}startpicture.jpg" border="0" width=160 height=120></a><br>
       <a id="a2" href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption"><img id="img2" src="{{STATIC_URL}}startpicture.jpg" border="0" width=160 height=120></a><br>
       <a id="a3" href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption"><img id="img3" src="{{STATIC_URL}}startpicture.jpg" border="0" width=160 height=120></a><br>
       <a id="a4" href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption"><img id="img4" src="{{STATIC_URL}}startpicture.jpg" border="0" width=160 height=120></a><br><br>
       
       <button type="button" onclick="displayPreviousImage()">Previous</button>
       <button type="button" onclick="displayNextImage()">Next</button>
</td>
</tr>
<tr align="center">
<td>
	<form method="POST" action="/">
            <input type="submit" value="<" id="turnleft" style="font-family: sans-serif; font-size: 25px;">
            <input type="hidden" value="send_turnleft" name="send_turnleft" >
            {% csrf_token %}
        </form>
</td>
<td>
	<form method="POST" action="/">
            <input type="submit" value="Capture" id="capture" style="font-family: sans-serif; font-size: 25px;">
            <input type="hidden" value="send_capture" name="send_capture" >
            {% csrf_token %}
        </form>
</td>
<td>
	<form method="POST" action="/">
            <input type="submit" value=">" id="turnright" style="font-family: sans-serif; font-size: 25px;">
            <input type="hidden" value="send_turnright" name="send_turnright" >
            {% csrf_token %}
        </form>
</td>
</tr>
</table>
	</br></br>

<!--<table>
	 {% for capture in captures%}
	    <tr>
	        <td>{{ capture.id }}</td>
	        <td>{{ capture.filename }}</td>
            </tr>
        {% endfor %}
</table>-->

<form action="/" method="POST" align="center">
  <input list="days" name="day" placeholder="weekday" size=10>
  <datalist id="days">
    <option value="Sunday">
    <option value="Monday">
    <option value="Tuesday">
    <option value="Wednesday">
    <option value="Thursday">
    <option value="Friday">
    <option value="Saturday">
  </datalist>
  Start at  
  <input list="starttime_hour" name="starttime_hour" placeholder="hr" size=2 >
  <datalist id="starttime_hour">
    {% for i in hour_range %}
    <option value="{{i}}">
    {% endfor %}
  </datalist>
  :
  <input list="starttime_min" name="starttime_min" placeholder="mi" size=2>
  <datalist id="starttime_min">
    {% for i in min_range %}
    <option value="{{i}}">
    {% endfor %}
  </datalist>
   Stop at
  <input list="stoptime_hour" name="stoptime_hour" placeholder="hr" size=2>
  <datalist id="stoptime_hour">
    {% for i in hour_range %}
    <option value="{{i}}">
    {% endfor %}
  </datalist>
  :
  <input list="stoptime_min" name="stoptime_min" placeholder="mi" size=2>
  <datalist id="stoptime_min">
    {% for i in min_range %}
    <option value="{{i}}">
    {% endfor %}
  </datalist>

  <input type="submit" value="add" id="add_alarm" >
  <input type="hidden" value="send_alarm" name="send_alarm" >
{% csrf_token %}
</form>
<!--{{ day }}-{{ starttime }}-{{ stoptime }}-->

            <table align="center">
	 {% for alarmtime in alarmtimes_s %}
	    <tr><td>{{ alarmtime.weekday }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Start at {{ alarmtime.start_hour }}</td>
	        <td> : {{ alarmtime.start_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Stop at {{ alarmtime.stop_hour }}</td>
	        <td> : {{ alarmtime.stop_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>
        <form method="POST">
            <input type="submit" value="delete" id="delete_button" >
            <INPUT Type = "hidden" value ="delete" name = 'delete'>
            <input type="hidden" value="{{ alarmtime.id }}" name="id_delete" >
        {% csrf_token %}
    	</form></td>    
            </tr>
        {% endfor %}

	 {% for alarmtime in alarmtimes_m %}
	    <tr><td>{{ alarmtime.weekday }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Start at {{ alarmtime.start_hour }}</td>
	        <td> : {{ alarmtime.start_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Stop at {{ alarmtime.stop_hour }}</td>
	        <td> : {{ alarmtime.stop_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>
        <form method="POST">
            <input type="submit" value="delete" id="delete_button" >
            <INPUT Type = "hidden" value ="delete" name = 'delete'>
            <input type="hidden" value="{{ alarmtime.id }}" name="id_delete" >
            {% csrf_token %}
        {% csrf_token %}
    	</form></td>    
            </tr>
        {% endfor %}

	 {% for alarmtime in alarmtimes_t %}
	    <tr><td>{{ alarmtime.weekday }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Start at {{ alarmtime.start_hour }}</td>
	        <td> : {{ alarmtime.start_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Stop at {{ alarmtime.stop_hour }}</td>
	        <td> : {{ alarmtime.stop_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>
        <form method="POST">
            <input type="submit" value="delete" id="delete_button" >
            <INPUT Type = "hidden" value ="delete" name = 'delete'>
            <input type="hidden" value="{{ alarmtime.id }}" name="id_delete" >
            {% csrf_token %}
        {% csrf_token %}
    	</form></td>    
            </tr>
        {% endfor %}

	 {% for alarmtime in alarmtimes_w %}
	    <tr><td>{{ alarmtime.weekday }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Start at {{ alarmtime.start_hour }}</td>
	        <td> : {{ alarmtime.start_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Stop at {{ alarmtime.stop_hour }}</td>
	        <td> : {{ alarmtime.stop_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>
        <form method="POST">
            <input type="submit" value="delete" id="delete_button" >
            <INPUT Type = "hidden" value ="delete" name = 'delete'>
            <input type="hidden" value="{{ alarmtime.id }}" name="id_delete" >
            {% csrf_token %}
        {% csrf_token %}
    	</form></td>    
            </tr>
        {% endfor %}

	 {% for alarmtime in alarmtimes_th %}
	    <tr><td>{{ alarmtime.weekday }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Start at {{ alarmtime.start_hour }}</td>
	        <td> : {{ alarmtime.start_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Stop at {{ alarmtime.stop_hour }}</td>
	        <td> : {{ alarmtime.stop_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>
        <form method="POST">
            <input type="submit" value="delete" id="delete_button" >
            <INPUT Type = "hidden" value ="delete" name = 'delete'>
            <input type="hidden" value="{{ alarmtime.id }}" name="id_delete" >
            {% csrf_token %}
        {% csrf_token %}
    	</form></td>    
            </tr>
        {% endfor %}

	 {% for alarmtime in alarmtimes_f %}
	    <tr><td>{{ alarmtime.weekday }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Start at {{ alarmtime.start_hour }}</td>
	        <td> : {{ alarmtime.start_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Stop at {{ alarmtime.stop_hour }}</td>
	        <td> : {{ alarmtime.stop_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>
        <form method="POST">
            <input type="submit" value="delete" id="delete_button" >
            <INPUT Type = "hidden" value ="delete" name = 'delete'>
            <input type="hidden" value="{{ alarmtime.id }}" name="id_delete" >
            {% csrf_token %}
        {% csrf_token %}
    	</form></td>    
            </tr>
        {% endfor %}

	 {% for alarmtime in alarmtimes_sa %}
	    <tr><td>{{ alarmtime.weekday }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Start at {{ alarmtime.start_hour }}</td>
	        <td> : {{ alarmtime.start_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>Stop at {{ alarmtime.stop_hour }}</td>
	        <td> : {{ alarmtime.stop_min }}</td>
<td></td><td></td><td></td><td></td><td></td><td></td>
	        <td>
        <form method="POST">
            <input type="submit" value="delete" id="delete_button" >
            <INPUT Type = "hidden" value ="delete" name = 'delete'>
            <input type="hidden" value="{{ alarmtime.id }}" name="id_delete" >
        {% csrf_token %}
    	</form></td>    
            </tr>
        {% endfor %}
            </table>
</br></br>
<script src="{{STATIC_URL}}lightbox2-master/src/js/lightbox.js"></script>
</body>
</html>
